@font-path:                           "fonts";
@font-name:                           "flexslider-icon";
@font-file-name:                      "flexslider-icon";
@default-duration:                    1s;
@default-easing:                      ease;
@default-border-radius:               0;
@default-box-shadow-x-axis:           0;
@default-box-shadow-y-axis:           0;
@default-box-shadow-blur:             0;
@default-box-shadow-color:            rgba( 0, 0, 0, 0 );
@default-box-shadow-inset:            '';
@flexslider-margin:                   0;
@flexslider-bg:                       none;
@flexslider-border:                   0;
@flexslider-border-radius:            0;
@flexslider-box-shadow-x-axis:        0;
@flexslider-box-shadow-y-axis:        0;
@flexslider-box-shadow-blur:          0;
@flexslider-box-shadow-color:         rgba( 0, 0, 0, 0);
@flexslider-box-shadow-inset:         '';
@flex-viewport-max-height:            2000px;
@flex-viewport-loading-max-height:    300px;
@flex-control-thumbs:                 5px 0 0;
@flex-direction-nav-color:            rgba(0,0,0,0.8);
@flex-direction-nav-text-shadow:      0;
@flex-direction-nav-icon-color:       rgba(0,0,0,0.8);
@flex-direction-nav-icon-text-shadow: 0;
@flex-direction-nav-icon-prev:        '';
@flex-direction-nav-icon-next:        '';
@flex-pauseplay-icon-play:            '';
@flex-pauseplay-icon-pause:           '';