.footer{
	padding: 36px 0;
	background-color: #f4eede;
	font-size: 10px;
	margin-top: 50px;
	.footer-menu-section{
		width: 100%;
	    /* float: left; */
	    display: inline-block;
	}
	.footer-menu{
		margin-bottom: 0;
	    padding-left: 0;
	    list-style: none;
	    margin: 0 0 26px 0;
	    text-transform: uppercase;
	    color: #58595b;
	    font-weight: bold;
		li{
			//display: inline-block;
			margin: 0 20px 0 0;
			display: inline-block;
		 	font-size: 9px;
		 	@media (min-width: @screen-xs){
        		display: table-cell;
		 		width: 1%;
    		}	
		}
	}
	.footer-socials{
		margin-bottom: 0;
	    padding-left: 0;
	    list-style: none;
	    margin: 0 0 18px 0;
	    text-transform: uppercase;
	    color: #58595b;
	    li{
			display: inline-block;
			margin: 0 10px 0 0;
			@media (min-width: @screen-xs){
        		margin: 0 40px 0 0;	
    		}	
		}
	}
	.footer-standard-menu{
		padding-left: 0;
	    list-style: none;
	    margin: 10px 0 0 0;
	    text-transform: uppercase;
	    color: #58595b;
	    font-weight: bold;
	    li{
			display: inline-block;
			margin: 0 16px 0 0;
			@media (min-width: @screen-xs){
        		margin: 0 30px 0 20px;     	
    		}		
		}
	}
	.footer-subscribe{
		margin-top: 30px;
		text-align: center;
		input[type=text] {
			padding:5px 20px;
			color: #58595b;
			border:0;
		}
		input[type=submit] {
			padding: 6px 26px; 
			background:#ffcc66; 
			border:0;
		    cursor:pointer;
		    font-weight: bold;
		}

		@media (min-width: @screen-md-min){
        	text-align: right;        	
    	}
	}
	.copy_right p{
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		margin-top: 24px;
		@media (min-width: @screen-md-min){
        	text-align: right;        	
        	margin-top: 10px;
    	}
	}
}


