

header{
	background: #f4eede;
	position: relative;
	.header-wrap{
		position: relative;
		padding: 17px 0 12px;
		@media (min-width: @screen-sm){
			padding: 27px 0 22px;
		}
		&:before{
			content:"";
			left: 30px;
			right: 30px;
			position: absolute;
			background: #bb9d79;
			height: 5px;
			display: block;
			top:0;			
		}	
		.brand{
			width: 60px;
			margin: 0 auto;
			padding: 0;
			display: block;
			img{
				max-width: 100%;
				height: auto;
				display: block;				
			}
			@media (min-width: @screen-sm){
				width: 16.66666667%;
				margin: 0;
				padding: 0 15px;

			}
		}	
	}

	#nav-icon {
	  width: 30px;
	  height: 22px;
	  position: absolute;	 
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	  top: 25px;
	  right: 15px;
	  span{
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: #bb9d79;
		border-radius: 3px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;	
		
	  }
	  &[aria-expanded="true"]{
	  	span:nth-child(1) {
		  -webkit-transform: rotate(45deg);
		  -moz-transform: rotate(45deg);
		  -o-transform: rotate(45deg);
		  transform: rotate(45deg);
		  top: 10px;
		  left: 0;
		}	
		span:nth-child(2) {
		  width: 0%;
		  opacity: 0;
		}
		span:nth-child(3) {
		  -webkit-transform: rotate(-45deg);
		  -moz-transform: rotate(-45deg);
		  -o-transform: rotate(-45deg);
		  transform: rotate(-45deg);
		  top: 10px;
		  left: 0;
		}
	  }
	  &.collapsed{
	  	span:nth-child(1) {
		  top: 0px;
		  -webkit-transform-origin: left center;
		  -moz-transform-origin: left center;
		  -o-transform-origin: left center;
		  transform-origin: left center;
		}
		span:nth-child(2) {
		  top: 6px;
		  -webkit-transform-origin: left center;
		  -moz-transform-origin: left center;
		  -o-transform-origin: left center;
		  transform-origin: left center;
		}
		span:nth-child(3) {
		  top: 12px;
		  -webkit-transform-origin: left center;
		  -moz-transform-origin: left center;
		  -o-transform-origin: left center;
		  transform-origin: left center;
		}

	  }
	}

	
	.top-nav{
		padding-top: 10px;
		@media (min-width: @screen-sm){
			padding-top: 40px;
		}
		.col-sm-8{
			padding: 0;
			@media (min-width: @screen-sm){
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.nav-justified{
			text-align: center;
			>li{
				padding-right: 3%;
				display: inline-block;
				@media (min-width: @screen-sm){
					padding-right: 5%;
				}				
				>a{
					
					text-transform: uppercase;
					color: #bb9d79;
					font-size: 12px;
					font-weight: 500;
					border: 0;
					padding: 6px 0 5px;
					line-height: 1;
					&:hover, &:focus{
						background: none;
					}
				}
				@media (min-width: @screen-sm){
					float: none;
					  display: table-cell;
					>a{
						text-align: left;
						border-bottom: 2px solid #ccbb8f;
						font-size: 14px;
					}					
				}
			}
		}
	}

	form{
		display: none;		
		&.col-sm-4{
			padding: 0;
			position: relative;
		}
		
		input[type=search] {
			background: none;
			border: 0;
			color: #bb9d79;
			font-size: 14px;
			font-weight: 500;
			border-bottom: 2px solid #ccbb8f;
			text-transform: uppercase;
			width: 100%;
			&:hover, &:focus{
				outline:0;
			}
		}
		input[type=image] {
			position: absolute;
			right: 0;
			top:2px;
		}
		::-webkit-input-placeholder { /* WebKit browsers */
	    	color:    #bb9d79;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #bb9d79;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #bb9d79;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		   color:    #bb9d79;
		}
		@media (min-width: @screen-sm){
			display: block;			
		}
		
	}
}

.main-menu{
	background: #f4eede;
	width: 100%;
	position: absolute;
	top:100%;
	@media (min-width: @screen-sm){
		background: url('../images/menu-right-arrow-icon.png') no-repeat 20px center #d0bca1;
		position: static;
		top: auto;
	}
	&.navbar-collapse{
		padding: 0;
	}
	.container{
		padding: 0;
		@media (min-width: @screen-sm){
			padding-left: 15px;
	  		padding-right: 15px;
	  	}
	}
	.nav{
		>li{
			>a{

				text-transform: uppercase;
				color: #58595b;
				background: none;
				font-weight: 500;
				font-size: 12px;
				padding:8px 20px;
				text-align:left;
				&:hover, &:focus{
					background: #fdd160;
				}
				@media (min-width: @screen-sm){
					color: #fcf5e3;
					text-align: center;
					padding:15px 5px;
					font-size: 15px;
					&:hover, &:focus{
						background: none;
					}
				}
			}
		}
		
	}
}