.home-banner-wrap{
	min-height: 185px;
	background: url(../images/home-banner-mobile.png) right top no-repeat;
	background-size:cover; 
	text-align: center;
	img{
		max-width: 100%;
		height: auto;
		margin-top: 115px;
	}
	@media (min-width: @screen-sm){
		background: url(../images/home-banner-desktop.png) right top no-repeat;
		min-height: 700px;
		background-size:cover; 
	text-align: center;
		img{
			margin-top: 420px;
		}
	}
}




.home-page-stage{
	margin-top: -35px;
	@media (min-width: @screen-sm){
		margin-top: -160px;
	}
	.container{
		background: #bb9d79;
		padding:12px;
		font-weight: 500;
		margin: 0 15px;
		@media (min-width: @screen-sm){
			margin: 0 auto;
		}
		.infografics-wrap{
			background:url(../images/pattern-infographics.png); 
			padding: 32px 10px 20px;
			margin: 0;
			.infografics{
				background: #bb9d79;
							
				text-transform: uppercase;	
				text-align: center;
				padding: 20px 0 15px;
				overflow: hidden;
				@media (min-width: @screen-sm){
					padding: 15px 0 10px;
				}				
				p{
					display: inline-block;
					line-height: 1;
					margin: 0;
					color: #eee6dd;
					font-size: 13px;	
					vertical-align: top;
					padding:2px 20px;
					@media (min-width: @screen-sm){
						font-size: 36px;
						padding:10px 60px;
					}
					&.infografics-houses{
						background: url('../images/house-lit-icon.png') no-repeat left center;
						background-size: 14px 14px;
						@media (min-width: @screen-sm){
							background-size:auto; 
						}
					}
					&.infografics-people{
						background: url('../images/people-imapcted-icon.png') no-repeat left 0; 
						padding-left: 30px;
						background-size: 22px 12px;
						@media (min-width: @screen-sm){
							background-size:auto; 
							padding-left: 90px;
							background-position: left -4px;
						}
					}
					span{
						color: #414042;						
					}
					.infografics-data{
						display: block;						
						font-size: 7px;
						text-transform: none;
						text-align: right;
						color: #eee6dd;
						padding-left: 0;
						@media (min-width: @screen-sm){
							font-size: 11px;
						}
					}
				}			
			}
		}
		p{
			font-size: 13px;
			padding:20px 0;
			line-height: 1.2;
			color: #4d4d4f;
			
			@media (min-width: @screen-sm){
				padding:50px 25px;
				font-size: 29px;
				strong{
					font-size: 48px;
					font-weight: 500;
				}
			}
			
		}
	}
}



