.home-page-slider{
	margin-top: 30px;
	.container{
		background: #bb9d79;
		padding:12px;
		font-weight: 500;
		padding:50px 15px;
		margin: 0 15px;
		@media (min-width: @screen-sm){
			margin: 0 auto;
		}
		h2{
			margin: 0 0 20px;
			color: #4d4d4f;
			font-size: 18px;
			text-align: center;
			@media (min-width: @screen-sm){
				margin-left: 35px;
				font-size: 35px;
				text-align:left;
			}
		}
		ul.slides{
			li{				
				color: #ffffff;
				font-size: 15px;
				p{
					padding:0 35px;
					img{
						max-width: 100%;
						height: auto;
					}
				}
			} 
		}
		.flex-control-nav{
			width: auto;
			right: 35px;
		}
	}
}